/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}
/*------------------------
 top-part and image styles
-------------------------- */
.top-container{
    display: flex;
    
}

.top-article{
    width: 50%;
    height: 259px;
}
.prebook-button{
    text-decoration: none;
    background-color: #3DCFD3;
    padding:8px 25px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}

.fa-arrow-right{
    padding-left: 5px;
}

.top-container img{
    width: 50%;
    height: 414px;
    
}
.top-container img:hover{
   transform: scale(2.0); 
   transition: transform 2s ease-in-out;
}
/* -------------------
    middle Part styles 
    ------------------*/
.middle-section-title{
    text-align: center;
    font-weight: 800;
    margin: 200px;
}
.gears{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 100px;
    grid-gap: 30px;
}
.see-more{
    margin: 50px 150px 0px 0px;
    float: right;
    color: #3DCFD3;

}

/*------------
footer styles 
--------------*/
footer{
    font-size: 10px;
    padding: 5px;
    background-color: lightblue;
    text-align: center;
}
.footer-icon{
    padding: 5px;
}